<main class="main">
  <div class="content">  
    <h1>Oi {{title}}</h1>
    <input type="text" [value]="title"> <br>
    <input type="text" [(ngModel)]="title">
    <!-- <input type="button" value="Show" (click)="nomefuncao()"> -->
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
    
    <app-first-component></app-first-component>
  </div>
</main>
